.form-container{
    width: 600px;
    margin: 0 auto;
    border: 1px solid #95a0a7;
    box-sizing: border-box;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}


.form-title{
    font-size: 35px;
    color: #2a414f;
    font-weight: 400;
}
.input-grop{
    margin: 20px;
}

.input-grop label{
    display: block;
    margin-left: 5px;
}

.input-grop input{
    width: 400px;
    height: 50px;
    border: 1px solid #95a0a7;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 18px;
    padding-left: 5px;
}

.form-submit{
    width: 400px;
    height: 50px;
    background-color: rgba(255, 153, 0, 0.3);
    border-radius: 5px;
    border: none;
    font-size: 18px;
    margin-left: 20px;
    cursor: pointer;

    
}
.form-submit:hover{
    background-color: rgba(255, 153, 0, 0.5);

}

.form-link{
    color: #ff9900;
    text-decoration: none;
}

.p-title{
    text-align: center;
}